<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <title>Evaluate news with NLP</title>
    </head>
    <header>
        <nav class="header-container">
            <div class="logo"></div>
            <ul class="nav-container">
                <li>Home</li>
                <li>About</li>
                <li>Price</li>
            </ul>
        </nav>
    </header>
    <body class="page-container">
        <main class="main-container">
            <section>
                <form class="form-container" onsubmit="return handleSubmit(event)">
                    <input id="name type="text" name="input" value="" onblur="onBlur()" placeholder="Type your url in the field" required>
                    <input id="evaluate-button" class="sumbit-button" type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>
            <section class="form-result-container">
                <div id="results"></div>
            </section>
        </main>        
    </body>
    <footer class="footer-container">
        <p>© 2020 Ting Chieh Lin LLC</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</html>
